*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom, blue, rgb(255, 81, 0));
    height: 100vh;
}
footer{
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 15px;
}
#container{
    border: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    width: 80%;
    font-family: Bangers, Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    position: relative;
    margin-top: 30px;
    background-color: red;
    box-shadow: 10px 15px rgba(88, 82, 82, 0.50)
}
#option-container{
    width: 100%;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
}
#results{
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.board{
    display: flex;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    height: 20%;
    align-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: white;
}
.points{
    padding-left: 10px;
}

button{
    width: 20%;
    height: 50%;
    display: block;
    background-color: #ff8d00;
    border: rgb(90, 87, 87) solid 1px;
}

button:hover{
    background-color: rgb(90, 87, 87);
    border: #ff8d00 solid 1px;
    cursor: pointer;
} 
#title-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 20%;
    background-color: white;
}
@media (max-width: 1280px) and (max-height: 876px){
    body{
        height:102vh;
    }
    #paper-image{
        width: 120px;
    }
}
@media (max-width: 1174px) and (max-height: 830px){
    img{
        width:50px;
    }
    #paper-image{
        width:50px;
    }
    #title-container{
        font-size: 20px;
        text-align: center;
    }
    #container-result{
        font-size: 7px;
    }
    footer{
        font-size: 10px
    }
}
@media (max-width: 830px) and (max-height: 1174px){
    body{
        height: 120vh
    }
    img{
        width:40px;
    }
    #paper-image{
        width:40px;
    }
    #title-container{
        font-size: 20px;
        text-align: center;
    }
    #container-result{
        font-size: 5px;

    }
    footer{
        font-size: 10px;
    }
    .board{
        font-size:10px;
    }
    #final-result{
        position:relative;
        bottom: 10px;
    }
    
}